@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  font-family: "Poppins", sans-serif;
}
.text-justify {
  text-align: justify;
  word-break: break-all;
}

/* FIM DA FORMATAÇÃO PADRÃO  */

.formContainer {
  max-width: 800px;
  width: 90%;
}
td,
tr {
  text-align: center;
}

/* FIM DA FORMATAÇÃO DA TABELA */
